body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #141E8C;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0F196F;
}

#statusMessage {
    margin-top: 20px;
    font-size: 16px;
}

#report {
    margin-top: 30px;
    text-align: left;
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
